<!-- templates/home.html -->

{% extends 'base.html' %} {% block home %}
<div class="container mt-5">
  <h1 class="mb-4">Search Vaccination Centers</h1>
  <form method="get">
    <div class="form-group">
      <label for="q">Search by Name:</label>
      <input
        type="text"
        class="form-control"
        id="q"
        name="q"
        value="{{ request.GET.q }}"
      />
    </div>
    <div class="form-group">
      <label for="start_time">Start Time:</label>
      <input
        type="time"
        class="form-control"
        id="start_time"
        name="start_time"
        value="{{ request.GET.start_time }}"
      />
    </div>
    <div class="form-group">
      <label for="end_time">End Time:</label>
      <input
        type="time"
        class="form-control"
        id="end_time"
        name="end_time"
        value="{{ request.GET.end_time }}"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Clear</a>
  </form>

  <h2 class="mt-5">Search Results</h2>
  <ul class="list-group">
      {% for center in centers %}
          <li class="list-group-item">
              <h3>{{ center.name }}</h3>
              <p><strong>Working Hours:</strong> {{ center.working_hours_start }} - {{ center.working_hours_end }}</p>
              <p><strong>Slots:</strong> {{ center.slots }}</p>
              <p><strong>Slots:</strong> {{ center.dosage }}</p>
          </li>
            {% if user.is_authenticated %}
                {% if center.slots > 0 %}
                    <a href="{% url 'confirm_slot_booking' center.id %}" class="btn btn-primary">Book Slot</a>
                {% else %}
                    <p>No available slots.</p>
                {% endif %}
            {% else %}
                <a href="{% url 'user_login' %}?next={% url 'confirm_slot_booking' center.id %}" class="btn btn-primary">Login to Book Slot</a>
            {% endif %}
      {% empty %}
          <li class="list-group-item">No results found.</li>
      {% endfor %}
  </ul>
</div>
{% endblock %}
